{% extends 'base.html' %}

{% block content %}
<h1>App/Dashboard</h1>

<div class="container">
	<div class="row">
		<strong>{{domain}}<strong>
	</div>
	<form method="post" action="{% url 'events-page' domain %}">
		{% csrf_token %}
		<div class="row">
			<label>Begin: </label>
			<input type="date" name="begin" id="begin" />
		</div>
		<div class="row">
			<label>End: </label>
			<input type="date" name="end" id="end" />
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

{% endblock %}