{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form accept-charset="UTF-8" action="/login/" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                <div class="row">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {{ field.errors }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <div class="row">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    <div class="row">
        <a href="{% url 'auth_signup' %}" class="btn btn-default">Sign Up</a>
    </div>
{% endblock %}