{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form accept-charset="UTF-8" action="/signup/" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                <div class="row">
                    {{ field.label_tag }} {{ field }}
                    {{ field.errors }}
                </div>
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <div class="">
            <button type="submit" class="btn btn-primary">Signup</button>
        </div>
    </form>
    <a href="{% url 'auth_signup' %}" class="btn">Login</a>
</div>
{% endblock %}